
/* .backgroundNasa {
  background-image: url('./assets/img/low-angle-shot-mesmerizing-starry-sky.jpg');
  opacity: 0.3;
  z-index: -1;
} */


#darkMode:hover,
#darkMode:focus {
  filter: none;
  /* background-color: black; */
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  /* background-color: black; */
}

.w-900 {
  width: "900px"
}

.h-900 {
  height: "900px"
}